if SH_ST_B2000

menu "b2000: B2000 Reference board options"

config STM_B2000_MALI_OS_MEMORY_SIZE
	hex "Maximum Mali GPU OS memory size"
	default "0x5000000"
	help
	  Specify the size of memory which the Mali driver is allowed to allocate
	  from Linux kernel.

endmenu

endif
