if MACH_STM_B2020

choice
	prompt "B2020: System-On-Chip selection"
	default MACH_STM_B2020_STIH415
	help
	  Select the appropriate SoC on-board.

config MACH_STM_B2020_STIH415
	bool "B2020 with STiH415 (Orly-1) SoC"
	select MACH_STM_STIH415
	help
	  Select the appropriate SoC which the board is socketed with

config MACH_STM_B2020_STIH416
	bool "B2020 with STiH416 (Orly-2) SoC"
	select MACH_STM_STIH416
	help
	  Select the appropriate SoC which the board is socketed with

endchoice

endif
