menu "STMicroelectronics Consumer Electronics platform type"
	depends on ARCH_STM

config MACH_STM_NICE
	bool "Support NICE generic platform"
	select ARM_GIC
	select CPU_V7
	help
	  Include support for a generic NICE platform.


config MACH_STIH415_VELOCE
	bool "Support STiH415 Veloce emulator platform"
	select MACH_STM_NICE
	help
	  Include support for a STiH415 Veloce emulator platform.

endmenu
