menu "STMicroelectronics Consumer Electronics platform type"
	depends on ARCH_STM

# CPU_SUBTYPE_xxx style names for code shared with SH4

config CPU_SUBTYPE_STIH415
       def_bool n

config MACH_STM_STIH415
	bool "Support STiH415 generic platform"
	select CPU_SUBTYPE_STIH415
	select ARM_GIC
	select CPU_V7
	help
	  Include support for a generic STiH415 (Orly) platform.

config MACH_STIH415_VELOCE
	bool "Support STiH415 Veloce emulator platform"
	select MACH_STM_STIH415
	help
	  Include support for a STiH415 Veloce emulator platform.

config MACH_STM_B2000
	bool "Support B2000 - STiH415 (Orly) MBoard"
	select MACH_STM_STIH415
	help
	  Include support for a B2000 - STiH415 (Orly) MBoard.

config MACH_STM_B2000_MALI_OS_MEMORY_SIZE
	depends on MACH_STM_B2000
	hex "Maximum Mali GPU OS memory size"
	default "0x5000000"
	help
	  Specify the size of memory which the Mali driver is allowed to allocate
	  from Linux kernel.

endmenu
